<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SYS_ID" value="38"/>
		<add key="COMMAND_HOST" value="https://uum.szprl.com/"/>
		<add key="SYNC_TIME_HOUR" value="4"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>